* {
  box-sizing: border-box;
}

body {
  background: #141E30;
}

p {
  text-align: justify;
}

#large-title {
  border-bottom: 3px solid;
  font-weight: 100;
  font-size: 50px;
  line-height: 60px;
  padding-bottom: 20px;
  text-align: center;
  width: 55%;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  border-top: 3px solid;
  padding-top: 20px;
  margin: 20px;
}

* {
  font-family: 'Raleway', sans-serif;
}

h1 {
    color: rgba(255, 255, 255, 0.5);
    font-size:40px;
   }

p  {
    color:white;
    font-size:16px;
    font-weight: normal;
    min-width: 200px;
   }

table {
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
}

th {
  border: 1px solid white;
  border-radius: 5px;
  margin: 100px;
}

td {
  border: 1px solid white;
  border-radius: 5px;
  width: 800px;
  height: 80px;
  text-align: center;
}


.title {
  color:teal;
}

.teal {
  color:teal;
}

.uppercase {
  text-transform: uppercase;
}


#large-title {
  font-family: Georgia;
  text-align: center;
  justify-content: center;
  position: relative;
}

a[href*="recommendations"] {
  color: green;
}

a[href*="blog"] {
  color: red;
}

a[href*="top10foodplaces"] {
  color: maroon;
}

a[href*="photography"] {
  color: orange;
}

a[href*="about"] {
  color: lightblue;
}

a:hover {
  color:lime;
}

.heading-background{
  background-color:lightblue;
}


.main-list a{
  color: green;
}

.main-headings th{
  color: teal;
}


.image-list {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
}


.image-grid {
  display: grid;
  grid-auto-flow: column;
  column-gap: 100px;
  align-items: center;
}

.nav-buttons {
  list-style: none;
  display: flex; 
  gap: 60px; 
  text-transform: uppercase;
  box-align: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  padding: 1.11rem;
  margin: 0 auto 4.44rem auto;
  background-color: #007bff;
}

.nav-buttons a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
  z-index: 1;
  position: relative;
}

.nav-buttons a:hover {
  background-color: #0056b3;
  position: relative;
}

.side-image {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.side-image img {
  width: 40px; 
  height: auto;
  float: right;
  position: relative;
}

table {
  color: white;
}

.caption-text {
  color: white;
  position: relative;
  bottom: 180px;
  right: 40px;
  font-size: 10px;
}

.image-boundary {
  border: 2px solid white;
  border-radius: 5px;
}

.image-boundary2 {
  border: 2px solid white;
  border-radius: 5px;
  position: relative;
  bottom: 110px;
  right: 40px;
  padding: 1.11rem;
  margin: 0 auto 4.44rem auto;
  background-color: white;
}

.firstpara {
  position: relative;
  left: 210px;
  width: 1300px;
}

body {
  color: white;
}

.submit-button:hover {
  background-color: grey;
  z-index: 1;
}

header {
  justify-content: center;
}

.postedby {
  justify-content: center;
  text-align: center;
  position: relative;
  font-style: italic;
  padding-bottom: 40px;
}

main {
  width: 1500px;
  margin: 0 auto;
}

#recommendations {
  height: 1000px;
  overflow: scroll;
  position: relative;
  bottom: 200px;
}

#top10foodplaces {
  width: 1500px;
  overflow: scroll;
  position: relative;
  bottom: 200px;
}

#photography {
  position: relative;
  bottom: 200px;
}

#about {
    position: relative;
  bottom: 200px;
}

.myvisitsarea {
  position: relative;
  bottom: 200px;
}

.top-image {
  width: 100%;
  position: absolute;
  opacity: 20%
}

footer {
  position: relative;
}

h4 {
  letter-spacing: 0.2em;
}
